################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
.vs/
obj/
bin/
logs/
*.user
/src/lib/GRS_DBUP/GRS_DBUP/alt scripts
