<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="GRSData_BASE" connectionString="Data Source=DBSource;Initial Catalog=DBCatalog;User Id=DBUsername;Password=DBPassword" providerName="System.Data.SqlClient" />

        <add name="GRSData_Desktop" connectionString="Data Source=zeGuru-Desktop;Initial Catalog=GRSData_DEV;User Id=DBUsername;Password=DBPassword" providerName="System.Data.SqlClient" />
        <add name="GRSData" connectionString="Data Source=Localhost;Initial Catalog=GRSData_DEV;User Id=DBUsername;Password=DBPassword" providerName="System.Data.SqlClient" />

        <add name="GRSData_Localhost" connectionString="Data Source=Localhost;Initial Catalog=GRSData_DEV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="GRSData_Laptop" connectionString="Data Source=LAPTOP-KEVINF;Initial Catalog=GRSData_DEV;Integrated Security=True" providerName="System.Data.SqlClient" />

        <add name="GRSData_DesktopIS" connectionString="Data Source=zeGuru-Desktop;Initial Catalog=GRSData_DEV;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
